prototype_beta/Unity.RenderPipelines.Universal.Shaders.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/UnityEditor.UI.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/Logs filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.RenderPipelines.Core.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.RenderPipelines.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/prototype_beta.sln filter=lfs diff=lfs merge=lfs -text
prototype_beta/Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/Packages filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.RenderPipelines.Universal.Editor.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.ShaderGraph.Utilities.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/PPv2URPConverters.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/ProjectSettings filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.2D.Sprite.Editor.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.2D.Tilemap.Editor.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.RenderPipeline.Universal.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.RenderPipelines.Core.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/Assets filter=lfs diff=lfs merge=lfs -text
prototype_beta/Library filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.ShaderGraph.Editor.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/UnityEngine.UI.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/UserSettings filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/Unity.RenderPipelines.Universal.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
prototype_beta/. filter=lfs diff=lfs merge=lfs -text
